:root{
    --terminal_bg: #0C0C0C;
    --terminal_fg: #f3f3f3;
}

body, input{
    background-color: var(--terminal_bg);
    color: var(--terminal_fg);
    font: 1.2rem Inconsolata, monospace;
    line-height: 1.3rem;
}

p{
    white-space: pre-wrap;
    margin: 0;
}